@import "colors.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: MesloLGL Nerd Font Propo;
    font-size: 13px;
}

/*----------Color Definitions----------*/
@define-color foreground #c4c1c1;
@define-color background #0D0B0C;
@define-color cursor #c4c1c1;
@define-color color1 #AC0203;
@define-color color2 #A32E2F;
@define-color color3 #195F00;
@define-color color4 #477f33;
/*-------------------------------------*/

window#waybar {
    background-color: transparent;
    border-bottom: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#custom-arch {
  background-color: @background;
  color: @color1;
  padding-top: 0.3px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#workspaces {
    border-radius: 5px;
    background-color: @background;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces button {
  background-color: transparent;
  color: @color2; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button.active {
  background-color: transparent;
  color: @color3; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button.urgent {
  background-color: transparent;
  color: @color11; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
}

#workspaces button:hover {
    color: @cursor;
  }

#custom-salaat {
  background-color: @background;
  color: @color10;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#custom-quran {
  background-color: @background;
  color: @color3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#custom-sunnah {
  background-color: @background;
  color: @color3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 6px;
  padding-left: 10px;
  border-radius: 5px;
}

#custom-aur {
  background-color: @background;
  color: @color2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

#custom-gpu {
  background-color: @background;
  color: @color2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#custom-cpu {
  background-color: @background;
  color: @color2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#pulseaudio {
  background-color: @background;
  color: @color2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#pulseaudio.muted {
  background-color: @background;
  color: @color3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#network {
  background-color: @background;
  color: @color2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;

}

#network.disconnected {
  background-color: @background;
  color: @color3;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;

}

#clock {
  background-color: @background;
  color: @color2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
}

#tray {
    background-color: @background;
    border-radius: 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#custom-power {
  background-color: @background;
  color: @color1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

